In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv('dataset.csv')
data.head()

                                                Text  language
0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4  de spons behoort tot het geslacht haliclona en...     Dutch

In [3]:
df=data.copy(deep=True)

In [7]:
df['language'].unique()

array(['Estonian', 'Swedish', 'Thai', 'Tamil', 'Dutch', 'Japanese',
       'Turkish', 'Latin', 'Urdu', 'Indonesian', 'Portugese', 'French',
       'Chinese', 'Korean', 'Hindi', 'Spanish', 'Pushto', 'Persian',
       'Romanian', 'Russian', 'English', 'Arabic'], dtype=object)

In [9]:
#detect language using Machine Learning
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline


#create a pipeline to detect language
pipeline = Pipeline([('vect', CountVectorizer()),
                        ('tfidf', TfidfTransformer()),
                        ('clf', MultinomialNB()),
])


#train the model
pipeline.fit(df['language'], df['language'])

Pipeline(steps=[('vect', CountVectorizer()), ('tfidf', TfidfTransformer()),
                ('clf', MultinomialNB())])

In [10]:
#predict the language
predicted = pipeline.predict(df['language'])
df['predicted']=predicted
df.head()

                                                Text  language predicted
0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian  Estonian
1  sebes joseph pereira thomas  på eng the jesuit...   Swedish   Swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai      Thai
3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil     Tamil
4  de spons behoort tot het geslacht haliclona en...     Dutch     Dutch

In [15]:

#accuracy
from sklearn.metrics import accuracy_score
accuracy_score(df['language'], df['predicted'])

1.0

In [20]:
df.drop(['predicted'],axis=1,inplace=True)

In [24]:

X=np.array(df['Text'])
y=np.array(df['language'])

cv = CountVectorizer()
X = cv.fit_transform(X)


#split the data into training and testing
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [25]:
from sklearn.naive_bayes import MultinomialNB

In [26]:
model=MultinomialNB()
model.fit(X_train,y_train)
pred=model.predict(X_test)
accuracy_score(y_test,pred)

0.953168044077135

In [38]:
# user=input("Enter the text: ")
user = 'Hola amigos'
user=user.lower()
user = np.array([user])
print(user)
user=cv.transform(user)
# user=user.toarray()
pred=model.predict(user)
print(pred)

['hola amigos']
['Spanish']